html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 2.5vw;
}

@media all and (min-width: 950px) {
body{
    font-size: 22px;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}

ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.arrow{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow figure {
  margin-left:-15vw;
  margin-right: 0.5em;
}

.categoryList {
  margin: 0px auto;
  padding-top: 120px;
  max-width: 40vw;
}

.categoryItems{
  margin-bottom: 50px;
}

.categoryItems a{
    text-decoration: none;
    color: inherit;
}

.categoryList figcaption .fa-tags {
  color:rgba(255, 51, 153);
}

.categoryList figcaption{
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
}

.arrow img {
  max-width: 100%;
  max-height: 70%;
}

.arrow .itemList li:last-child{
    list-style: none;
    text-align: right;
    margin-top: 25px;
    font-size: 0.8em;
    font-weight: bold;
}


.arrow .itemList li::first-letter { 
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 51, 153);
}

.arrow .itemList li:last-child a{
  margin-top:50px;
  color: rgba(255, 51, 153);
}

.itemList {
    overflow: hidden;
    justify-content: center;
    max-height: 80%;
}
.itemList li {
    flex-basis: 58%;
    margin-left: 25px;
    list-style: circle;
    color: #53d397;
}

.itemList li:hover {
    list-style: disc;
}

.itemList li a {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
}

.menu{
  position: fixed;
  right: 2%;
  top:50%;
  z-index:999;
}

.menu li{
  list-style-type: none; 
  
}

.menu li.isSelected .pastille {
background-color:rgba(200, 200, 200, 0.3);
}

.menu li:hover .pastille, .menu li.isSelected .pastille {
  transform: translateX(-20%) scale(1, 1);
   z-index: 10;
}

.menu li:hover span{
  transform: translateX(-140%) scale(1, 1);
}

.menu img{
  border-radius: 50%;
  width: 80%;
  height:80%;
}

.menu li {
  display: flex;
  align-items: center;
  height: 5vh;
  min-height: 50px;
  margin-bottom: 5px;
}

.menu li span{
  position: absolute;
  z-index:-1;
  transform: translateX(0em) scale(0, 0);
  transition: transform 0.2s ease-in-out;
  text-align: right;
  width: 5em;
  font-size: 1em;
 text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.pastille {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: transform .2s ease-in-out;
  height: 5vh;
  min-height: 40px;
  width: 5vh;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


.menu a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  padding-left: -3em;
}

.animatedSvgContainer {
  position:absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 99;
    display: flex;
  justify-content: center;
  align-items: center;
}
.animatedSvgText {
  stroke-dasharray: 12em;
  stroke-dashoffset: -12em;
  stroke-width: 1.2px;
  stroke: #FFF;
  fill: none;
  animation: countdown 15s forwards;
  animation-delay: 2s;
  font-size: 3em;
  alignment-baseline: middle;
  text-anchor: middle;
}

.notransition {
  animation: none !important;
  stroke-dasharray: 0;
}

.blogTitleContainer{
  width: 100%;
  height: 100vh;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me{
  position: absolute;
  display: flex;
  right:45.5%;
  top:70%;
  color: white;
  z-index: 999;
    align-items: center;
}

.header_menu{
  display: flex;
  align-items:center;
  justify-content:space-between;
  font-size: 14px;
  background-color: rgba(255, 51, 153,.8);
  padding-left: 20px;
    color: white;
}

.header_menu_start{
  background-color: transparent;
  padding-top:27px;
  
}

.header_menu a{
  text-decoration: none;
  color: inherit;
  }

.post_metas{
  width: 100%;
  position: absolute;
  top:40vh;
  text-align: center;
  justify-content:center;
  flex-direction:column;
  display: flex;
  color: white;
  text-shadow: 1px 1px #000000;
}

.noAbsolute {
  position: relative !important;
}

.ais-SearchBox-form button {
  position: absolute;
}

.bottom_read {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card_metas{
  width: 100%;
  position: absolute;
  top:20%;
  text-align: center;
  justify-content:center;
  flex-direction:column;
  display: flex;
  color: white;
  text-shadow: 1px 1px #000000;
}

.pageContainer {
  padding-top :0;
}

.blog-post img {
  width:100%;
}

.header_items{
  margin-right: 5%;
}

.header_items span{
  margin-right: 15px;
}

.header_items span:hover .fas, .categoryItems a:hover .fas{
  transform: rotateX(180deg) rotateZ(180deg);
}

.header_items span:hover {
  color: white;
}

.fas {
  transition: transform .2s ease-in-out;
}
.header_items i{
  padding-right: 5px;
}

.header_me{
  height: 50px;
  display: flex;
  align-items:center;
  margin-left: 10px;
}

.header_me span{
  display: none;
}

.header_me img{
  height: 80%;
}

.me img{
  width: 40px;
  height: 50px;
  animation: floating 4.2s ease-in-out infinite;
}

.header_me img:hover{
  transform: rotateZ(10deg);
}

.post_title{
  font-size: 2.5em;
  margin: 0 auto;
  width: 80%;
}

.post_title::after{
      content: " ";
    display: block;
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: #fff;
    height: 2px;
    width: 10vw;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    animation: floating 4.2s ease-in-out infinite;
}

.page_title {
  font-size: 2.5em;
  text-align:center;
  margin-bottom: 100px;
  width: 100%;
}

.post_date {
  font-size: 1em;
}
.post_date i {
    
}

.blog-post-content{
  padding: 10vw 10%;
}

.me .mini{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.categoryImage {
  max-height: 50vh;
  width: auto;
      max-width: 40vw;
      margin-left: auto;
    margin-right: auto;
    display: block;
}

.blog-page-container{
  padding-top: 80px;
}

.postImage{
    width: 100vw;
    height: 100vh;
}

.hit img{
  width: 80%;
}

.ais-Hits-list {
  list-style-type: none;
}

.ais-Hits-item{
  margin-bottom: 100px;
}

.card-reveal .card-title{
  margin-bottom: 30px;
  font-weight: bolder !important;
}

.header_menu_home{
  background-color: transparent;
  margin-top: 30px;
  text-align: right;
  justify-content:space-between;
  font-size: 14px;
  padding-left: 20px;
  color: white;
}

.header_menu_home a{
  color: white;
}

@media only screen and (max-width: 480px) {
  .categoryList {
    max-width: 90vw;
  }
  .header_items{
    display: flex;
    justify-content: space-around;
  }
  
  .menu{
    top:inherit;
    bottom:20px;
  }
}

@keyframes countdown {
        from {
            stroke-dashoffset: 12em;
        }
        to {
          stroke-dashoffset: 0em;
        }
        
    }

@keyframes floating {
    0%,100%{
          transform:translate(0,-5px)
        }
    50%{
          transform:translate(0,5px)
        }
}